db:
  image: mongo:latest
  command: mongod --rest --httpinterface
  expose:
    - "27017"
  ports:
    - "28017:28017"
    - "27017:27017"

redis:
  image: redis:latest
  ports:
    - "15672:15672"

web:
  restart: always
  build: ./web
  expose:
    - "8000"
  ports:
    - "8000:8000"
  links:
    - db:database
    - redis
  volumes:
    - ./web:/usr/src/app/web
  env_file: .env
  # command: /usr/local/bin/gunicorn -w 2 -b :8000 app:app
  command: python /usr/src/app/app.py

workers:
  restart: always
  build: ./workers
  links:
    - db
    - redis
  volumes:
    - ./workers:/usr/src/app/workers
  env_file: .env
  command: python /usr/src/app/worker.py

nginx:
  restart: always
  build: ./nginx/
  ports:
    - "80:80"
  volumes:
    - /www/static
  links:
    - web:web    
