
{% block content %}
<div class="row">
  <div class="col-md-12">
    <b>{{show.title|angular}}</b>
    <i>{{show.date|angular}}</i> <br>
  </div>
<div class="row">
  <div class="col-md-6">
    <pre>{{show.description|angular}}</pre>
  </div>
  <div class="col-md-6">
    <ul ng-repeat="(key, value) in show.files">
      <li>
        <button class="btn btn-default btn-sm" music-player="play" add-song="file" all-songs="show.files" data-type="addToPlaylist" >{{value.title|angular}}</button>
      </li>
    </ul>
  </div>
</div>
{% endblock %}